.splash-screen-container {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

body {
  width: 100vw;
  height: 100vh;
  //background-image: linear-gradient(darkblue, rgb(52, 110, 210));
  background-size: cover;
}

.splash-image {
  width: 100%;
  height: 100%;
}
